services:
  web:
    build: .
    container_name: NetaBase
    command: gunicorn netabase.wsgi:application --workers 4 --threads 2 --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always
